PORT=3000
APP_NAME=Plataforma de Orientación y peticiones ciudadanas
APP_ENV= development

N8N_WEBHOOK_PETICION=
N8N_SHARED_SECRET=

AI_PROVIDER=mock
DEPPSEEK_API_KEY=
DEEPSEEK_MODEL=deepseek-chat

JWT_SECRET=CAMBIAR_EN_LOCAL